* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* // the width and height specified for an element will include the padding and border, rather than being added to it. */
}
body {
  background-color: #f0d6c9e2;
  min-height: 100vh;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box {
  background-color: #ebc7e167;
  min-width: 400px;
  border-radius: 2rem;
  text-align: center;
  position: relative;
}
/* //for transparent background// */
.box::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 110%;
  left: -5%;
  top: -5%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
  border-radius: 3rem;
  z-index: -1;
}

h1 {
  font-size: 2.5rem;
  padding: 30px 0;
  font-weight: bold;
}
.content {
  /* top bottom padding is 0 */
  padding: 0px 30px;
}
.input {
  background: #ebc7e167;
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 20px 0;
  margin-bottom: 20px;
}
.input label {
  display: block;
  /* height and height input are not in the same line bcz of display:block */
  font-size: 18px;
  font-weight: 600;
  color: black;
  /* to create space btw label and input fields */
  margin: 20px;
}
.input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #823b6cda;
  width: 60%;
  text-align: center;
  font-size:25px;
}
button#calculate {
    background-color: #cbc6f2bf;
    color: black;
    font-size: 16px;
    padding: 12px 0;
    width: 100%;
    border-radius:12px;
    outline:none;
    border:none;
    
}
button#calculate:hover{
    background-color:#897edc;
   
}
.result{
  padding:30px 20px;
}
.result p{
  font-weight:600;
  font-size:16px;
  color:black;
  margin-bottom:15px;
}
#result {
  font-weight: 900;
  font-size: 36px;
  background-color: rgba(174, 169, 169, 0.115);
  color:#897edc;
  /* so it doesn't take the entire space */
  display:inline-block;
  padding:7px 20px;
  border-radius:0.5rem;
  /* to create gap with comment */
  margin-bottom:25px;

}
#comment{
  color:#897edc;
  font-weight:900;
}